<section class="helyx-content">
<p>This module accepts only PDF files from PAIZO, and with their watermarks.
Anonymized PDFs will not be imported</p>
<hr>

<p><b>Starfinder Society</b></p>
<ul>
    <li>SFS1E01 : Invasion's Edge (maps and actors only)</li>    
    
</ul>


</section>